.black{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-color: black;
}
.blue{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(8, 8, 44);
    height: 33rem;
    width: 45rem;
    margin: 8px auto 0 auto;

}
.pink{
  display: flex;
    height: 20rem;
    width: 38rem;
    background-image: linear-gradient(to right,rgb(219, 58, 85),rgb(218, 115, 192),rgb(20, 147, 221));
    justify-content: space-around;
    border-radius: 28px;
}
.black1{
    background: linear-gradient(to right,  #252121, #0a0808);
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 20px;
    width: 30%;
    height: 85%;
    margin-top: 25px;
}
.black2{
    background: linear-gradient(to left,  #252121, #0a0808);
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 20px;
    height: 85%;
    margin-top: 25px;
}
#profile{
        color: lightpink;
        text-align: center;
}
.Details{
    color:antiquewhite;
    margin-right: 10px;;
}
#img{
    border-radius: 50%;
   display: block;
   margin-top: 20%;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
#a{
    color:coral
}
#b{
    color: yellowgreen;
}
.name{
    display: flex;
    justify-content: center;
}
.parts{
    display: flex;
}
.part1{
    width: 41%;
    margin-left: 70px;
    color: wheat;
    text-align: -webkit-auto;
}
.part2{
    width:80%;
    color: wheat;
}
.position{
    font-size:small;
    color:wheat;
    text-align: center;
}
.last{
    text-align: center;
    color: bisque;
}
#heart{
    color: rgb(231, 21, 84);
}